@import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@400;

500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
main,
section {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: mistral1;
  font-display: swap;
  src: url("../fonts/mistral1.woff2") format("woff2"), url("../fonts/mistral1.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "myriad r";
  font-display: swap;
  src: url("../fonts/myriad-regular.woff2") format("woff2"), url("../fonts/myriad-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "myriadpro bold";
  font-display: swap;
  src: url("../fonts/myriadpro-bold.woff2") format("woff2"), url("../fonts/myriadpro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "myriadpro semibold";
  font-display: swap;
  src: url("../fonts/myriadpro-semibold.woff2") format("woff2"), url("../fonts/myriadpro-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-down:before {
  content: "\e90f";
  color: #030d45;
}

._icon-zoom-in:before {
  content: "\e910";
}

._icon-share:before {
  content: "\e900";
}

._icon-linkedin:before {
  content: "\e901";
}

._icon-user:before {
  content: "\e902";
}

._icon-arrow-right:before {
  content: "\e903";
}

._icon-th-list:before {
  content: "\e904";
}

._icon-grid-view:before {
  content: "\e905";
}

._icon-wifi:before {
  content: "\e906";
}

._icon-arrow-left:before {
  content: "\e907";
}

._icon-youtube:before {
  content: "\e908";
}

._icon-arrow-up:before {
  content: "\e909";
}

._icon-google-plus:before {
  content: "\e90a";
}

._icon-twitter-svgrepo:before {
  content: "\e90b";
}

._icon-facebook:before {
  content: "\e90c";
}

._icon-shop-cart:before {
  content: "\e90d";
}

._icon-search:before {
  content: "\e90e";
}

._ibg {
  position: relative;
}

._ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

[data-spoller] {
  padding: 0px 20px 0px 0px;
  cursor: pointer;
  position: relative;
}

[data-spoller]._active::before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

[data-spoller]._active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

[data-spoller]::before,
[data-spoller]::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 15px;
  display: inline-block;
  height: 2px;
  background-color: black;
  top: 50%;
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

[data-spoller]::after {
  right: 4px;
}

[data-spoller]::before {
  right: 4px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tab {
  display: none;
}

.tab.current {
  display: block;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 45px;
  padding: 0px 35px 0px 35px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 3px;
  color: white;
  background-color: #99286b;
  position: relative;
}

.btn.white {
  border: 1px solid #ffffff;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: unset;
}

.btn.violet-n {
  border: solid 1px #99286b;
  background-color: unset;
  font-size: 13px;
  color: #99286b;
}

.btn_small {
  min-height: 26px;
  padding: 0px 10px 0px 10px;
}

.block-header {
  text-align: center;
}

.block-header__title {
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5;
  padding: 0px 0px 25px 0px;
  color: #323232;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin: 0px 0px 35px 0px;
}

.block-header__title::before {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 2px;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #99286b;
}

.block-header__title_white {
  color: white;
}

.block-header__title_white::before {
  background-color: white;
}

.block-header__title:last-child {
  margin: 0px 0px 0px 0px;
}

.text {
  font-size: 16px;
  line-height: 1.88;
  color: #868686;
}

.text_white {
  color: white;
}

.slider-arrow {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.slider-arrow::before {
  font-size: 52px;
  color: #a2a2a2;
}

.slider-arrow.swiper-button-disabled {
  opacity: 0.5;
}

.slider-arrow.l {
  left: -45px;
}

.slider-arrow.r {
  right: -45px;
}

.swiper-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-bullets > span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: crimson;
}

.big-title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: #99286b;
}

.star-rating {
  width: 96px;
  height: 16px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.star-rating span {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -3px;
  cursor: pointer;
}

.star-rating span.hover {
  color: #fff;
}

.title-blog {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #323232;
  font-weight: 500;
}

.breadcumps {
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcumps__breadcump {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39px;
          flex: 0 0 39px;
  min-height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  border: solid 1px #d4d4d4;
  cursor: pointer;
  font-size: 14px;
  color: #d3d3d3;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.breadcumps__breadcump._active {
  color: white;
  background-color: #d0d0d0;
}

.breadcumps__link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 20px 0px 10px;
  font-size: 14px;
  color: #d0d0d0;
}

.breadcumps__link::before {
  display: block;
  position: absolute;
  top: 50%;
  right: 4px;
  font-size: 14px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #d0d0d0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
}

body._isLocked {
  overflow: hidden;
}

.container {
  max-width: 1210px;
  margin: 0px auto;
  padding: 0px 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.page {
  padding: 105px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page_home-page {
  padding: 0px 0px 0px 0px;
}

.page__testimonials {
  padding: 86px 0px 110px 0px;
}

.page__services-features {
  padding: 83px 0px 78px 0px;
}

.page__some-projects {
  padding: 80px 0px 140px 0px;
}

.page__about-title {
  padding: 0px 0px 80px 0px;
}

.page__believe {
  padding: 48px 0px 0px 0px;
  background-color: #f6f6f6;
}

.page__features {
  padding: 100px 0px 100px 0px;
}

.page__team {
  padding: 100px 0px 170px 0px;
}

.page__shop {
  padding: 0px 0px 170px 0px;
}

.page__single-item {
  padding: 0px 0px 140px 0px;
}

.page__contacts {
  padding: 0px 0px 106px 0px;
}

.main-fullscreen {
  min-height: 100vh;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main-fullscreen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 220px 0px 220px 0px;
}

.main-fullscreen__content {
  position: relative;
  z-index: 5;
  text-align: center;
}

.main-fullscreen__title {
  font-size: 48px;
  line-height: 1.2;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
  letter-spacing: 0.05em;
}

.main-fullscreen__subtitle {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  margin: 0px 0px 1.25em 0px;
}

.main-fullscreen__pic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.main-fullscreen__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials {
  position: relative;
}

.testimonials__content {
  position: relative;
  z-index: 4;
}

.testimonials__header {
  margin: 0px 0px 60px 0px;
}

.testimonials__bg {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.testimonials__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sponsors-slider {
  position: relative;
}

.sponsors-slider__slider {
  overflow: hidden;
  position: relative;
}

.sponsors-slider__slider .swiper-button-prev,
.sponsors-slider__slider .swiper-button-next {
  display: none;
}

.sponsors-slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsors-slider__body > *:last-child {
  margin-bottom: 0px;
}

.sponsors-slider__pic {
  margin: 0px 0px 30px 0px;
}

.sponsors-slider__pic img {
  max-width: 100%;
  max-height: 400px;
}

.sponsors-slider__text {
  text-align: center;
}

.sponsors-slider__bullets {
  margin: 20px 0px 0px 0px;
}

.believe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.believe__picture-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 342px;
          flex: 0 0 342px;
  height: 415px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.believe__picture-col img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.believe__content {
  padding: 20px 0px 20px 46px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.believe__content > *:last-child {
  margin-bottom: 0px;
}

.believe__title {
  text-transform: uppercase;
  font-size: 1.7142857143em;
  position: relative;
  line-height: 1.5;
  margin: 0px 0px 70px 0px;
  color: #323232;
}

.believe__title::before {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 2px;
  background-color: #99286b;
  bottom: -20px;
}

.believe__text {
  text-align: justify;
  margin: 0px 0px 45px 0px;
}

.believe__link {
  font-family: mistral1;
  font-size: 24px;
  line-height: 1.25;
  text-align: justify;
  color: #99286b;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.features__block-header {
  margin: 0px 0px 42px 0px;
}

.team__header {
  margin: 0px 0px 56px 0px;
}

.team__all-team {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

.team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-member_big {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.team-member__body {
  position: relative;
}

.team-member__picture {
  position: relative;
  display: block;
  padding: 0px 0px 100% 0px;
}

.team-member__picture img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.team-member__hover {
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  background-color: rgba(153, 40, 107, 0.5);
  padding: 20px;
  z-index: 2;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  left: -100%;
}

.team-member__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-member__links > li:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.team-member__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.team-member__link::before {
  font-size: 18px;
  color: black;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.contacts__header {
  margin: 0px 0px 80px 0px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__title {
  margin: 0px 0px 32px 0px;
}

.contacts__form-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0px 30px 0px 0px;
}

.contacts__info-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.8429752066%;
          flex: 0 1 38.8429752066%;
}

.contacts__text {
  margin: 0px 0px 50px 0px;
}

.contacts__all-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: #868686;
}

.contacts__site-name span {
  font-weight: 600;
}

.contacts__contact-name span {
  text-decoration: underline;
}

.contacts__contact-name a {
  color: inherit;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.shop-page__header {
  margin: 0px 0px 50px 0px;
}

.shop-page__filters-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

.shop-page__view-filter {
  cursor: pointer;
  padding: 15px 16px 15px 17px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  background-color: #e6e6e6;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.shop-page__goods {
  margin: 0px 0px 54px 0px;
}

.shop-page__goods-items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 35px;
}

.shop-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-page__breadcumps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-item__header {
  padding: 50px 20px 50px 20px;
  border: solid 1px #e6e6e6;
}

.shop-item__picture {
  display: block;
  padding: 0px 0px 87.5% 0px;
}

.shop-item__picture img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.shop-item__body {
  background-color: #99286b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 17px 30px;
}

.shop-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.shop-item__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.shop-item__name a {
  font-family: "myriad r";
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 16px;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0px 0px 8px 0px;
  line-height: 1.2;
  transition: all 0.5s ease 0s;
}

.shop-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-item__price {
  font-family: "myriadpro semibold";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 16px;
  color: white;
  font-weight: 600;
  padding: 0px 10px 0px 0px;
}

.shop-item__add-item a::before {
  color: white;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.options-filter {
  position: relative;
}

.options-filter__header {
  width: 100%;
  font-size: 13px;
  color: #a0a0a0;
  padding: 0px 40px 0px 20px;
  position: relative;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  min-height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options-filter__header::before {
  position: absolute;
  display: block;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #a0a0a0;
  font-size: 20px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.options-filter__header._active::before {
  -webkit-transform: translate(0, -50%) rotate(-180deg);
      -ms-transform: translate(0, -50%) rotate(-180deg);
          transform: translate(0, -50%) rotate(-180deg);
}

.options-filter__all-options {
  position: absolute;
  right: 0;
  top: 96%;
  max-height: 550px;
  overflow-x: auto;
  border: 1px solid #e6e6e6;
  width: 100%;
  z-index: 4;
  background-color: white;
  display: none;
}

.options-filter__option {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.2;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.single-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-item__item-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 28px;
  min-width: 0;
}

.single-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  margin: 0px 0px 36px 0px;
}

.single-item__gallery {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  min-width: 0;
}

.single-item__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 30px;
}

.single-item__content > *:last-child {
  margin-bottom: 0px;
}

.single-item__main-slider {
  overflow: hidden;
  position: relative;
  margin: 0px 0px 20px 0px;
}

.single-item__main-slider .swiper-button-next,
.single-item__main-slider .swiper-button-prev {
  display: none;
}

.single-item__slide {
  border: solid 1px #e6e6e6;
  padding: 70px 30px 70px 30px;
}

.single-item__main-picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-item__main-picture img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

.single-item__thumbs-slider {
  position: relative;
  overflow: hidden;
}

.single-item__thumbs-slider .swiper-button-next,
.single-item__thumbs-slider .swiper-button-prev {
  display: none;
}

.single-item__thumbs-slider .swiper-slide {
  height: auto !important;
}

.single-item__relative-items {
  padding: 0px 0px 0px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}

.single-item__name {
  margin: 0px 0px 20px 0px;
}

.single-item__rating {
  margin: 0px 0px 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9285714286em;
  font-weight: 500;
  color: #323232;
}

.single-item__rating span {
  padding: 0px 20px 0px 0px;
}

.single-item___stars {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 0;
}

.single-item__description {
  margin: 0px 0px 50px 0px;
}

.single-item__buy-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-item__buy-info a {
  position: relative;
  padding: 0px 40px 0px 20px;
}

.single-item__buy-info a::before {
  position: absolute;
  display: block;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 15px;
  top: 50%;
}

.single-item__price {
  margin: 0px 10px 0px 0px;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 600;
}

.single-item__tabs-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
}

.single-item__tabs-menu > li > span {
  font-size: 13px;
  background-color: #e6e6e6;
  color: #868686;
  cursor: pointer;
}

.single-item__tabs-menu > li._active-link span {
  background-color: white;
  border: 1px solid #e6e6e6;
  position: relative;
}

.single-item__tabs-menu > li._active-link span::before {
  content: "";
  display: block;
  top: 100%;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  left: 0;
  z-index: 1;
}

.single-item__tab {
  border: solid 1px #e6e6e6;
  padding: 30px 30px 40px 30px;
  max-height: 260px;
  overflow-x: auto;
}

.single-item__parametrs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.single-item__parametr {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #868686;
}

.single-item__parametr-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  padding: 0px 10px 0px 0px;
  position: relative;
}

.single-item__parametr-name::before {
  content: ":";
  font-size: 13px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
  right: 0;
  display: block;
  color: #868686;
}

.single-item__parametr-value {
  font-weight: 400;
  padding: 0px 0px 0px 40px;
}

.thumbs-slider__slide {
  border: solid 1px #e6e6e6;
  padding: 16px 10px 16px 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thumbs-slider__picture img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.relative-items__title {
  font-size: 16px;
  line-height: 1.5;
  color: #323232;
  margin: 0px 0px 15px 0px;
}

.relative-items__all-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative-items__all-items > *:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.relative-items__item {
  padding: 15px 0px 15px 0px;
}

.relative-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.relative-item__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  padding: 10px 20px 10px 20px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #e6e6e6;
}

.relative-item__picture img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.relative-item__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 5px 0px 5px 20px;
}

.relative-item__content > *:last-child {
  margin-bottom: 0px;
}

.relative-item__name {
  margin: 0px 0px 10px 0px;
}

.relative-item__name a {
  font-size: 13px;
  font-weight: bold;
  color: #868686;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.relative-item__price {
  margin: 0px 0px 5px 0px;
  font-size: 1.2857142857em;
  font-weight: 600;
  color: #323232;
  word-break: break-all;
}

.relative-item__btn a {
  padding: 0px 30px 0px 10px;
}

.relative-item__btn a::before {
  position: absolute;
  display: block;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 5px;
  top: 50%;
}

.search-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search-form__input input {
  width: 100%;
  font-size: 15px;
  border: 1px solid #eee;
  padding: 0px 20px 0px 20px;
  min-height: 35px;
}

.search-form__input input:focus {
  border: 2px solid lightblue;
}

.search-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0px 20px 0px 20px;
  font-size: 16px;
  min-height: 35px;
  color: white;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: lightblue;
}

.message-form__form-objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 17px 0px;
}

.message-form__form-objects > *:not(:last-child) {
  margin-bottom: 10px;
}

.message-form__form-object textarea {
  padding: 20px 40px 20px 40px;
  height: auto;
  max-height: 500px;
  min-height: 213px;
  resize: vertical;
}

.message-form__submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.simple-input {
  padding: 0px 40px 0px 40px;
  height: 53px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  width: 100%;
  font-size: 1.1428571429em;
  color: black;
}

.simple-input:focus {
  border: 1px solid lightgreen;
}

.simple-input::-webkit-input-placeholder {
  font-size: 1em;
  text-align: justify;
  color: #aeaeae;
}

.simple-input::-moz-placeholder {
  font-size: 1em;
  text-align: justify;
  color: #aeaeae;
}

.simple-input:-ms-input-placeholder {
  font-size: 1em;
  text-align: justify;
  color: #aeaeae;
}

.simple-input::-ms-input-placeholder {
  font-size: 1em;
  text-align: justify;
  color: #aeaeae;
}

.simple-input::placeholder {
  font-size: 1em;
  text-align: justify;
  color: #aeaeae;
}

.services {
  padding: 0px 0px 86px 0px;
}

.services_home-page {
  padding: 90px 0px 90px 0px;
}

.services__header {
  margin: 0px 0px 40px 0px;
}

.services__all-services {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.services__all-services_big {
  grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
}

.services__service {
  border: solid 1px #e6e6e6;
}

.services__service-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.services__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 342px;
          flex: 0 0 342px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__avatar img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__all-services-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 60px 40px;
}

.service__content > *:last-child {
  margin-bottom: 0px;
}

.service__content_small {
  padding: 62px 30px 38px 30px;
}

.service__picture {
  margin: 0px 0px 26px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__picture img {
  height: auto;
  max-width: 100%;
}

.service__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__body > *:last-child {
  margin-bottom: 0px;
}

.service__link {
  margin: 0px 0px 25px 0px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #323232;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.services-features {
  position: relative;
}

.services-features__content {
  position: relative;
  z-index: 4;
}

.services-features__header {
  margin: 0px 0px 40px 0px;
}

.services-features__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.services-features__feature {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.services-features__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.services-features__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-feature__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 20px 80px 20px;
  border-radius: 5px;
  border: solid 1px #fff;
  background-color: #99286b;
}

.service-feature__body_no-pink {
  background-color: unset;
}

.service-feature__body > *:last-child {
  margin-bottom: 0px;
}

.service-feature__pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52px;
          flex: 0 1 52px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 0px 21px 0px;
}

.service-feature__pic img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-feature__text {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.projects {
  padding: 0px 0px 50px 0px;
}

.projects_main {
  background-color: #f6f6f6;
  padding: 78px 0px 55px 0px;
}

.projects__header {
  margin: 0px 0px 40px 0px;
}

.projects__full-projects-container {
  margin: 0px 0px 50px 0px;
}

.projects__all-projects {
  display: -ms-grid;
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.projects__all-projects_small {
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
}

.projects__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__tabs-menu {
  overflow-y: auto;
  margin: 0px 0px 37px 0px;
}

.projects__tab-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}

.projects__tab-links .tab-link._active-link span {
  background-color: unset;
  color: #99286b;
  border: solid 1px #99286b;
}

.projects__tab-link {
  cursor: pointer;
}

.projects__all-tabs {
  overflow-y: auto;
}

.project {
  position: relative;
}

.project__body {
  position: relative;
}

.project__picture {
  position: relative;
  display: block;
  padding: 0px 0px 100% 0px;
  max-height: 400px;
}

.project__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  left: -100%;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  padding: 20px;
}

.project__hover::before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #99286b;
  opacity: 0.8;
}

.project__hover._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  left: 0;
}

.project__image-scale {
  position: relative;
  z-index: 8;
  color: white;
  cursor: pointer;
}

.project__image-scale::before {
  font-size: 27px;
  color: white;
}

.project__mobile-scale {
  display: none;
  position: absolute;
  z-index: 9;
  text-decoration: underline;
  font-size: 15px;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: 700;
}

.some-projects__header {
  margin: 0px 0px 40px 0px;
}

.some-projects__slider-wrapper {
  position: relative;
}

.some-projects__slider {
  overflow: hidden;
  position: relative;
}

.some-projects__slider .swiper-button-prev,
.some-projects__slider .swiper-button-next {
  display: none;
}

.some-projects__picture img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.some-projects__bullets {
  margin: 20px 0px 0px 0px;
}

.blogs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogs__all-blogs {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 30px 0px 0px;
  margin: 0px 0px 44px 0px;
}

.blogs__blogs-columns > * {
  margin: 0px 0px 44px 0px;
}

.blogs__filters {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}

.single-blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.single-blog__data {
  padding: 18px 5px 16px;
  border-radius: 3px;
  background-color: #99286b;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62px;
          flex: 0 0 62px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.single-blog__day {
  font-family: "myriadpro semibold";
  font-size: 27px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

.single-blog__month-year {
  text-align: center;
  color: white;
  font-size: 11px;
  font-family: "myriad r";
}

.single-blog__month-year span {
  font-family: "myriadpro bold";
}

.single-blog__picture {
  padding: 0px 0px 43.75% 0px;
  border-radius: 3px;
  overflow: hidden;
}

.single-blog__picture_big {
  padding: 0px 0px 50.1149425287% 0px;
}

.single-blog__body {
  padding: 28px 0px 45px 0px;
  border-bottom: 1px solid #eee;
}

.single-blog__body > *:last-child {
  margin-bottom: 0px;
}

.single-blog__header {
  margin: 0px 0px 26px 0px;
}

.single-blog__header:first-child {
  margin: 0px 0px 18px 0px;
}

.single-blog__title {
  margin: 0px 0px 8px 0px;
}

.single-blog__info {
  font-size: 11px;
  text-align: justify;
  color: #b5b5b5;
}

.single-blog__info a {
  color: inherit;
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.single-blog__text {
  margin: 0px 0px 30px 0px;
}

.single-blog__text p span {
  font-weight: 600;
}

.single-blog__text p:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.single-blog__share {
  padding: 15px 30px 15px 30px;
  background-color: #99286b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  color: #fff;
}

.single-blog__share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}

.single-blog__share-list > li:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.single-blog__share-link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.single-blog__share-link::before {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 22px;
  color: #fff;
}

.filter-blogs > *:last-child {
  margin-bottom: 0px;
}

.filter-blogs__header {
  margin: 0px 0px 48px 0px;
}

.filter-blogs__search-block {
  position: relative;
}

.filter-blogs__search-block input {
  padding: 0px 35px 0px 29px;
}

.filter-blogs__search-block::before {
  position: absolute;
  top: 50%;
  display: block;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 20px;
  color: #aeaeae;
  font-size: 14px;
}

.filter-blogs__categories {
  margin: 0px 0px 70px 0px;
}

.filter-blogs__tweets {
  margin: 0px 0px 60px 0px;
}

.blogs-categories__title {
  margin: 0px 0px 25px 0px;
}

.blogs-categories__spollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogs-categories__spoller {
  padding: 23px 29px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #868686;
}

.blogs-categories__categories {
  display: none;
  padding: 15px 29px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.blogs-categories__categories-list > li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.blogs-categories__category-link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 1.1428571429em;
  color: #868686;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1.2;
}

.tweets__title {
  margin: 0px 0px 30px 0px;
}

.tweets__all-tweets > *:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.tweets__tweeet {
  position: relative;
  padding: 0px 0px 0px 28px;
  font-size: 14px;
  line-height: 1.71;
  text-align: justify;
  color: #c8c8c8;
}

.tweets__tweeet a {
  color: #939393;
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.tweets__tweeet::before {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  font-size: 22px;
  color: #dedede;
}

.related-topics__title {
  margin: 0px 0px 4px 0px;
}

.related-topics__topic {
  padding: 14px 0px 14px 0px;
  border-bottom: 1px solid #eee;
}

.related-topics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.related-topics__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91px;
          flex: 0 0 91px;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.related-topics__picture img {
  height: 65px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.related-topics__content {
  padding: 0px 0px 0px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.related-topics__topic-title a {
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  font-weight: 600;
  color: #868686;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.related-topics__info {
  font-size: 10px;
  line-height: 2.4;
  color: #cbcbcb;
}

.related-topics__info span {
  padding: 0px 5px 0px 5px;
}

@media (min-width: 479.98px) {
  .blogs__breadcumps {
    padding: 0px 0px 0px 67px;
  }
}

@media (min-width: 767.98px) {
  .blogs__blog-column {
    padding: 0px 30px 0px 0px;
  }
}

@media (max-width: 1222px) {
  .page:not(.page_home-page) {
    padding: 45px 0px 0px 0px;
  }

  .main-fullscreen__body {
    padding: 120px 0px 120px 0px;
  }

  .sponsors-slider__arrow {
    display: none;
  }

  .single-item__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }

  .single-item__item-info {
    padding: 0px 0px 0px 0px;
  }

  .single-item__gallery {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }

  .single-item__relative-items {
    padding: 0px 0px 0px 0px;
  }

  .single-item__relative-items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .relative-items__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }

  .relative-items__all-items {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
  }

  .relative-items__all-items > * {
    border-bottom: none !important;
  }

  .relative-items__item {
    padding: 0px 0px 0px 0px;
  }

  .services__all-services_big {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .service__content_small {
    padding: 40px 20px 25px 20px;
  }

  .some-projects__bullets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .some-projects__arrow {
    display: none;
  }
}

@media (max-width: 1210px) {
  .main-fullscreen__title {
    font-size: calc(24px + 24 * ((100vw - 320px) / (890)));
  }

  .main-fullscreen__subtitle {
    font-size: calc(16px + 8 * ((100vw - 320px) / (890)));
  }

  .single-item__price {
    font-size: calc(22px + 14 * ((100vw - 320px) / (890)));
  }

  .single-blog__share-link::before {
    font-size: calc(14px + 8 * ((100vw - 320px) / (890)));
  }
}

@media (max-width: 991.98px) {
  .page__single-item {
    padding: 0px 0px 60px 0px;
  }

  .page__contacts {
    padding: 0px 0px 40px 0px;
  }

  .believe__content {
    padding: 20px 0px 20px 20px;
  }

  .believe__title {
    margin: 0px 0px 40px 0px;
  }

  .contacts__header {
    margin: 0px 0px 40px 0px;
  }

  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }

  .contacts__form-column {
    padding: 0px 0px 0px 0px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .contacts__text {
    margin: 0px 0px 20px 0px;
  }

  .shop-page__header {
    margin: 0px 0px 25px 0px;
  }

  .shop-page__goods {
    margin: 0px 0px 25px 0px;
  }

  .shop-page__goods-items {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .shop-item__header {
    padding: 30px 15px 30px 15px;
  }

  .shop-item__body {
    padding: 10px 15px;
  }

  .single-item__content {
    padding: 0px 0px 0px 15px;
  }

  .single-item__rating {
    margin: 0px 0px 20px 0px;
  }

  .single-item__description {
    margin: 0px 0px 20px 0px;
  }

  .single-item__parametr-value {
    padding: 0px 0px 0px 20px;
  }

  .message-form__form-object textarea {
    padding: 15px 20px;
    min-height: 153px;
  }

  .simple-input {
    padding: 0px 20px 0px 20px;
  }

  .services-features__feature {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .service-feature__body {
    padding: 40px 20px 40px 20px;
  }

  .blogs__all-blogs {
    padding: 0px 15px 0px 0px;
  }

  .blogs__filters {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
  }

  .filter-blogs__header {
    margin: 0px 0px 28px 0px;
  }

  .filter-blogs__categories {
    margin: 0px 0px 40px 0px;
  }

  .filter-blogs__tweets {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .big-title {
    font-size: 20px;
  }

  .page:not(.page_home-page) {
    padding: 125px 0px 0px 0px;
  }

  .page__testimonials {
    padding: 50px 0px 50px 0px;
  }

  .page__services-features {
    padding: 40px 0px 40px 0px;
  }

  .page__some-projects {
    padding: 40px 0px 30px 0px;
  }

  .page__about-title {
    padding: 0px 0px 60px 0px;
  }

  .page__features {
    padding: 40px 0px 40px 0px;
  }

  .page__team {
    padding: 40px 0px 40px 0px;
  }

  .page__shop {
    padding: 0px 0px 60px 0px;
  }

  .main-fullscreen__body {
    padding: 80px 0px 80px 0px;
  }

  .testimonials__header {
    margin: 0px 0px 30px 0px;
  }

  .believe__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .believe__picture-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    height: auto;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 10px 0px;
  }

  .believe__content {
    padding: 0px 0px 40px 0px;
  }

  .believe__text {
    margin: 0px 0px 25px 0px;
  }

  .team__header {
    margin: 0px 0px 30px 0px;
  }

  .team-member_big {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .team-member__picture {
    padding: 0px 0px 95% 0px;
  }

  .shop-page__filters-row {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .shop-item__picture {
    padding: 0px 0px 60% 0px;
  }

  .options-filter__header {
    padding: 0px 30px 0px 10px;
  }

  .options-filter__header::before {
    font-size: 16px;
    right: 10px;
  }

  .single-item__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }

  .single-item__gallery {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .single-item__content {
    padding: 0px 0px 0px 0px;
  }

  .single-item__parametr-name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    padding: 0px 5px 0px 0px;
  }

  .search-form__input input {
    padding: 0px 5px 0px 5px;
  }

  .search-form__button {
    padding: 0px 10px 0px 10px;
  }

  .services_home-page {
    padding: 50px 0px 50px 0px !important;
  }

  .services {
    padding: 0px 0px 35px 0px;
  }

  .services__all-services {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
  }

  .services__all-services_big {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .services__service-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .services__avatar {
    height: 225px;
  }

  .service__content {
    padding: 30px 20px;
  }

  .service__link {
    margin: 0px 0px 15px 0px;
  }

  .projects_main {
    padding: 50px 0px 40px 0px !important;
  }

  .projects {
    padding: 0px 0px 20px 0px;
  }

  .projects__full-projects-container {
    margin: 0px 0px 20px 0px;
  }

  .projects__all-projects_small {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .blogs__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 15px;
  }

  .blogs__all-blogs {
    padding: 0px 0px 0px 0px;
  }

  .single-blog__share-list {
    margin: 0px 0px 0px 10px;
  }
}

@media (max-width: 479.98px) {
  .options-filter {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .options-filter__all-options {
    position: static;
  }

  .service__content_small {
    padding: 20px 10px 20px 10px;
  }

  .services-features__feature {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .service-feature__body {
    padding: 20px 10px 20px 10px;
  }

  .projects__full-projects-container {
    overflow: auto;
  }

  .projects__all-projects {
    grid-auto-flow: column;
    -ms-grid-columns: minmax(220px, 1fr);
    grid-template-columns: minmax(220px, 1fr);
    grid-auto-columns: minmax(220px, 1fr);
  }

  .projects__all-tabs {
    margin: 0 -15px;
  }

  .project__picture {
    padding: 0px 0px 70% 0px;
  }

  .single-blog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .single-blog__data {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0px 0px 20px 0px;
    padding: 10px 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #d82490;
  }

  .btn.white:hover {
    border: 1px solid cyan;
    color: cyan;
    background-color: transparent;
  }

  .btn.violet-n:hover {
    color: white;
    background-color: #99286b;
  }

  .breadcumps__breadcump:hover {
    color: white;
    background-color: #d0d0d0;
  }

  .breadcumps__link:hover {
    color: #5c5c5c;
  }

  .breadcumps__link:hover::before {
    color: #5c5c5c;
  }

  .believe__link:hover {
    color: #f50d98;
  }

  .team-member__body:hover .team-member__hover {
    left: 0%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .team-member__link:hover {
    background-color: cyan;
  }

  .contacts__contact-name a:hover {
    color: #555454;
  }

  .shop-page__view-filter:hover {
    background-color: lightblue;
  }

  .shop-page__view-filter:hover::before {
    color: white;
  }

  .shop-item__name a:hover {
    text-decoration: underline;
  }

  .shop-item__add-item a:hover::before {
    color: rgb(22, 241, 231);
  }

  .options-filter__option:hover {
    background-color: #cfcfcf;
  }

  .single-item__tabs-menu > li > span:hover {
    background-color: lightgray;
  }

  .relative-item__name a:hover {
    text-decoration: underline;
  }

  .search-form__button:hover {
    background-color: rgb(23, 192, 248);
  }

  .service__link:hover {
    color: #ff0000;
  }

  .service-feature__text:hover {
    text-decoration: underline;
  }

  .projects__tab-links .tab-link._active-link span:hover {
    background-color: #99286b;
    color: white;
  }

  .project__body:hover .project__hover {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    left: 0;
  }

  .single-blog__info a:hover {
    text-decoration: underline;
  }

  .single-blog__share-link:hover::before {
    color: rgb(32, 198, 253);
  }

  .blogs-categories__category-link:hover {
    color: lightsalmon;
  }

  .tweets__tweeet a:hover {
    color: crimson;
  }

  .related-topics__topic-title a:hover {
    text-decoration: underline;
  }
}